body{
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    color: bisque;
    background-color: darkgreen;
    font-size: 40px;
    border: none;
    border-radius: 12px;
    padding: 30px;
    margin: 10px;
    cursor: pointer;
}